HELP.md
target/
!.pom
*.war
*.jar
*.zip
*.tar.gz
*.rar

.idea/
*.iws
*.iml
*.ipr
out/

.env
.env.local

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.vscode/
/nbproject/private/